<% include  partials/header.ejs %>
<div class="full-page">
    <h1>LANDING PAGE</h1>
    <p>WELCOME TO RECIPES<strong>DB</strong>!</p>
    <a class="btn btn-primary btn-lg" href="/recipes">Browse our catalogue</a>
</div>

<% include  partials/footer.ejs %>