.bg-img {
  background-image: url(https://i.imgur.com/8r9FoHZ.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  box-shadow: inset var(--shadow);
  color: white;
  text-shadow: var(--shadow);
  margin-bottom: 32px;
}

.bg-img h1 {
  font-weight: bold;
}
.bg-img p {
  font-weight: lighter;
  font-size: 1.18rem;
}

.no-decor-link {
  color: black;
}
.no-decor-link:link {
  text-decoration: none;
}
.no-decor-link:hover {
  color: gray !important;
}

.card {
  border: none;
  border-radius: 25px;
  box-shadow: var(--shadow);
  transition: transform 200ms;
}

.card:hover {
  transform: scale(1.02);
}
.card-img-top {
  border-radius: 25px 25px 0 0;
}
.card-img-top:hover {
  opacity: 0.9;
}

.card-body > a {
  display: block;
}
