:root {
  --shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
}

body {
  background-color: #f7f7f7;
  font-family: 'Nunito', sans-serif;
}
/* #region HEADER STYLE */
.img-responsive {
  height: auto;
  width: auto;
  max-width: 1.4em;
  filter: invert(100%);
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: gray;
}
.navbar + .container {
  padding-top: 32px;
}

header {
  margin-bottom: 32px;
}
header .jumbotron,
.full-page {
  color: white;
  text-shadow: var(--shadow);
}
header .jumbotron h1 {
  font-weight: bold;
}
header .jumbotron p {
  font-weight: lighter;
  font-size: 1.18rem;
}
header .bg-img {
  background-image: url(https://i.imgur.com/8r9FoHZ.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  box-shadow: var(--shadow);
}
/* #endregion */

/* #region CARD STYLE */
.card {
  border: none;
  border-radius: 25px;
  box-shadow: var(--shadow);
  transition: transform 200ms;
}

.card:hover {
  transform: scale(1.02);
}
.card-img-top {
  border-radius: 25px 25px 0 0;
}
.card-img-top:hover {
  opacity: 0.9;
}
/* #endregion */

.btn {
  border-radius: 100px 100px 100px 100px;
}

.no-decor-link {
  color: black;
  
}
.no-decor-link:link {
  text-decoration: none;
}
.no-decor-link:hover {
  color: gray !important;
}

.ytURLModal {
  color: blue !important;
}
.ytURLModal:hover {
  color: lightblue !important;
  cursor: pointer;
}

.video {
  border-radius: 10px;
}
.embed-responsive {
  margin:0 auto 32px auto;
  max-width: 800px;
  max-height: 450px;
}

.comment-header {
  display: flex;
  flex-direction: rows;
  align-items: center;
}
.comment-header > * {
  margin-right: 10px !important;
}

.post-com-header {
  margin-bottom: 20px;
}
