:root {
  --shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
}

body {
  background-color: #f7f7f7;
  font-family: 'Nunito', sans-serif;
}

.navbar-light .navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus {
  border-color: transparent;
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
}

.btn {
  border-radius: 100px;
}

.img-responsive {
  height: auto;
  width: auto;
  max-width: 1.4em;
  filter: invert(100%);
}

.navbar {
  width: 90%;
  margin: 10px auto;
  border: none;
  border-radius: 25px;
  box-shadow: var(--shadow);
}

.navbar a {
  color: #282828;
}
.nav-link {
  padding: 8px 0;
}
.navbar a:hover {
  color: gray;
  text-decoration: none;
}
.navbar + .container {
  padding-top: 32px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  line-height: 40px;
  transition: 0.4s;
  width: 0px;
}
.search-txt {
  width: 240px;
}
.search-btn {
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

@media only screen and (min-width: 992px) {
  .nav-hr {
    display: none;
  }
  .nav-link {
    padding: 8px 16px;
  }
  .search-txt {
    width: 0;
  }
  .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
  }
  .search-box > .search-txt:focus {
    width: 240px;
    padding: 0 6px;
  }
}
